
/* Password Requirements */
.password-requirements {
    text-align: left;
    font-size: 12px;
    color: #666;
  }
  
  .password-requirements ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .password-requirements li {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .password-requirements li.valid {
    color: #4a862c;
  }
  
  .password-requirements li.invalid {
    color: #f44336;
  }